<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
  </form>
</ion-content>
